<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add 2 Basket</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        *{
            user-select: none;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" placeholder="Search" v-model="search" @keydown="filteredProducts">
    <hr>
    <h1>Products</h1>
    <ul>
        <li v-for="product in filteredProducts">
            {{ product.name }} - ${{ product.price }}
            <button @click="inc(product.id)">Add 2 Basket</button>
        </li>
    </ul>
    <hr>
    <h1>Basket</h1>
    <ul>
        <li v-if="basket.length" v-for="basket_product in basket">
            {{ basket_product.name }} - ${{ basket_product.price }} - {{ basket_product.qty }}
            <button @click="inc(basket_product.id)">+</button>
            <button @click="dec(basket_product.id)">-</button>
            <button @click="removeFromBasket(basket_product.id)">Remove From Basket</button>
        </li>
        <div v-else>No item</div>
    </ul>
    <hr>
    <div v-if="notifications.length" v-for="notification in notifications">
        <div class="notification notification-{{notification.class_name}}">{{ notification.message }}</div>
    </div>
</div>

<script src="app.js"></script>
</body>
</html>