*{
  user-select: none;
}
.list-group{
  .list-group-item{
    &.completed{
      background-color: rgba(39, 174, 96, 0.15);
    }
    &.pending{
      background-color: rgba(243, 156, 18, 0.15);
    }
    &.deleted{
      background-color: rgba(231, 76, 60, 0.15);
    }
  }
  .button{
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .list-group{
    .list-group-item{
      button{
        width: 100%;
      }
    }
  }
}